<!DOCTYPE html>
<html>
  <head>
    <title>Playground</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <a href='/static_pages/home'>Home</a> | <a href='/users'>Users</a> | <a href='/microposts'>Microposts</a>
    </header>
    <%= yield %>
  </body>
</html>
